<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=100%" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= presentation.title %></title>

    <meta name="description" content="<%= presentation.description %>" />
    <meta name="author" content="<%= presentation.author_name %>" />

    <script src="/javascript/keyboard-nav.js"></script>
    <%= render 'stylesheets.html' %>
    <%= render 'header-javascript.html' %>
  </head>

  <body id="presentation">
    <div class="rhet-butler root" >
      <% root_step.each do |child| %>
        <%= render child.template_name, child %>
      <% end %>
    </div>

    <div class="hint">
      <p id="mouse-hint">Use a spacebar or arrow keys to navigate</p>
      <p id="touch-hint" style="display:none">Tap on the left or right to navigate</p>
    </div>

    <%= render 'live-javascript.html' %>
    <script type='module'>
      import Presenter from '/javascript/presenter.js';

      var presenter = new Presenter(document, window, "presentation");
      setupUserInterface(presenter);
    </script>

  </body>
</html>
