<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= presentation.title %></title>

    <meta name="description" content="<%= presentation.description %>" />
    <meta name="author" content="<%= presentation.author_name %>" />

    <script src="/javascript/rhet-present.js"></script>
    <%= render 'stylesheets.html' %>
    <%= render 'header-javascript.html' %>
  </head>

  <body id="presentation" class="impress-not-supported">

    <div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by Rhet Butler so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div>

    <div class="rhet-butler root" >
      <% root_step.each do |child| %>
        <%= render child.template_name, child %>
      <% end %>
    </div>

    <div class="hint">
      <p id="mouse-hint">Use a spacebar or arrow keys to navigate</p>
      <p id="touch-hint" style="display:none">Tap on the left or right to navigate</p>
    </div>

    <%= render 'live-javascript.html' %>
    <script>
        var presenter = new rhetButler.Presenter(document, window);
        presenter.setup("presentation");
    </script>

  </body>
</html>
