<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= presentation.title %></title>

    <meta name="description" content="<%= presentation.description %>" />
    <meta name="author" content="<%= presentation.author_name %>" />

    <%= render 'stylesheets.html' %>
    <%= render 'header-javascript.html' %>
  </head>

  <body class="impress-not-supported">

    <div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div>

    <div id="impress" <% impress_config.each_pair do |name, value| %>
        data-<%= name %>="<%= value %>"
      <% end %>>
      <% slides.each do |slide| %>
        <div <%= slide.impress_attrs %>>
          <%= slide.content %>
          <%= render 'slide-notes.html', slide %>
        </div>
      <% end %>
    </div>

    <div class="hint">
      <p id="mouse-hint">Use a spacebar or arrow keys to navigate</p>
      <p id="touch-hint" style="display:none">Tap on the left or right to navigate</p>
    </div>

    <script src="/javascript/impress.js"></script>
    <%= render 'live-javascript.html' %>
    <script>impress().init();</script>

  </body>
</html>
